database/**/*.db filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
reports/python/2026-09-25/*.html filter=lfs diff=lfs merge=lfs -text
reports/python/2026-09-26/*.html filter=lfs diff=lfs merge=lfs -text
reports/python/2026-09-28/*.html filter=lfs diff=lfs merge=lfs -text
reports/python/2026-09-29/*.html filter=lfs diff=lfs merge=lfs -text
reports/python/2026-09-25/*.md filter=lfs diff=lfs merge=lfs -text
reports/python/2026-09-26/*.md filter=lfs diff=lfs merge=lfs -text
reports/python/2026-09-29/*.md filter=lfs diff=lfs merge=lfs -text
reports/rust/2026-09-25/*.md filter=lfs diff=lfs merge=lfs -text
reports/rust/2026-09-26/*.md filter=lfs diff=lfs merge=lfs -text
reports/rust/2026-09-29/*.md filter=lfs diff=lfs merge=lfs -text
reports/build/build-ubuntu-latest/2026-09-25/*.md filter=lfs diff=lfs merge=lfs -text
reports/build/build-ubuntu-latest/2026-09-26/*.md filter=lfs diff=lfs merge=lfs -text
reports/build/build-ubuntu-latest/2026-09-29/*.md filter=lfs diff=lfs merge=lfs -text
reports/build/build-windows-latest/2026-09-25/*.md filter=lfs diff=lfs merge=lfs -text
reports/build/build-windows-latest/2026-09-26/*.md filter=lfs diff=lfs merge=lfs -text
reports/build/build-windows-latest/2026-09-29/*.md filter=lfs diff=lfs merge=lfs -text
reports/build/build-macos-latest/2026-09-25/*.md filter=lfs diff=lfs merge=lfs -text
reports/build/build-macos-latest/2026-09-26/*.md filter=lfs diff=lfs merge=lfs -text
reports/build/build-macos-latest/2026-09-29/*.md filter=lfs diff=lfs merge=lfs -text
