# Local saves
saves/
save.txt
client_python/save.json

# IDE
.idea/
*.iml

# Local scripts
*.sh
*.bat

# Secrets
security/master.key

# Build / dependencies
target/
node_modules/
.venv/
__pycache__/

# SQLite temporary files
database/the_last_signal.db-shm
database/the_last_signal.db-wal

# Logs
server_rust/server.log
logs/
