database/**/*.db filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.html linguist-generated
reports/python/2026-09-25/*.html filter=lfs diff=lfs merge=lfs -text
reports/python/2026-09-26/*.html filter=lfs diff=lfs merge=lfs -text
reports/python/2026-09-28/*.html filter=lfs diff=lfs merge=lfs -text
reports/python/2026-09-29/*.html filter=lfs diff=lfs merge=lfs -text
reports/python/2026-09-30/*.html filter=lfs diff=lfs merge=lfs -text
reports/python/2026-10-01/*.html filter=lfs diff=lfs merge=lfs -text
reports/python/2026-10-02/*.html filter=lfs diff=lfs merge=lfs -text
reports/python/2026-10-03/*.html filter=lfs diff=lfs merge=lfs -text
reports/python/2026-10-04/*.html filter=lfs diff=lfs merge=lfs -text
reports/rust/2026-10-06/*.md filter=lfs diff=lfs merge=lfs -text
reports/rust/2026-10-07/*.md filter=lfs diff=lfs merge=lfs -text
reports/python/2026-10-07/*.html filter=lfs diff=lfs merge=lfs -text
reports/python/2026-10-08/*.html filter=lfs diff=lfs merge=lfs -text
reports/python/2026-10-06/*.html filter=lfs diff=lfs merge=lfs -text
reports/build/build-ubuntu-latest/2026-10-06/*.md filter=lfs diff=lfs merge=lfs -text
reports/build/build-ubuntu-latest/2026-10-07/*.md filter=lfs diff=lfs merge=lfs -text
reports/build/build-ubuntu-latest/2026-10-08/*.md filter=lfs diff=lfs merge=lfs -text
reports/build/build-windows-latest/2026-10-06/*.md filter=lfs diff=lfs merge=lfs -text
reports/build/build-windows-latest/2026-10-07/*.md filter=lfs diff=lfs merge=lfs -text
reports/build/build-windows-latest/2026-10-08/*.md filter=lfs diff=lfs merge=lfs -text
reports/build/build-macos-latest/2026-10-06/*.md filter=lfs diff=lfs merge=lfs -text
reports/build/build-macos-latest/2026-10-07/*.md filter=lfs diff=lfs merge=lfs -text
reports/build/build-macos-latest/2026-10-08/*.md filter=lfs diff=lfs merge=lfs -text
reports/python/2026-10-06/*.md filter=lfs diff=lfs merge=lfs -text
reports/python/2026-10-07/*.md filter=lfs diff=lfs merge=lfs -text
reports/python/2026-10-08/*.md filter=lfs diff=lfs merge=lfs -text
